/* Botão */
/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Estilos para o botão */
button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw; /* 30% da largura da viewport */
    height: 8vh; /* 8% da altura da viewport */
    flex-shrink: 0;
    border: 1px solid var(--wirelinha, #070707);
    background: #0672CB;
    box-shadow: -8px 8px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--Primary-Base-White, #FFF);
    font-size: calc(1vw + 1vh); /* Tamanho de fonte responsivo */
    text-align: center;
}

/* Estilos para o formulário */
#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw; /* 80% da largura da viewport */
    max-width: 400px; /* Largura máxima */
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Estilos para os campos do formulário */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: calc(0.8vw + 0.8vh); /* Tamanho de fonte responsivo */
}

/* Estilos para os títulos */
#login {
    position: absolute;
    top: 23%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 25vw; /* 25% da largura da viewport */
    height: 8vh; /* 8% da altura da viewport */
    color: #000;
    font-size: calc(2vw + 1vh); /* Tamanho de fonte responsivo */
    font-weight: 700;
    line-height: normal;
}

/* Estilos para os textos */
#usernameText {
    position: absolute;
    margin-top: 19%;
    margin-left: 31%;
    width: 25vw; /* 25% da largura da viewport */
    height: 8vh; /* 8% da altura da viewport */
    color: #000;
    font-size: calc(1.1vw + 0.8vh); /* Tamanho de fonte responsivo */
    font-weight: 300;
    line-height: normal;
}

#textPassword {
    position: absolute;
    margin-top: 23%;
    margin-left: 31%;
    width: 25vw; /* 25% da largura da viewport */
    height: 8vh; /* 8% da altura da viewport */
    color: #000;
    font-size: calc(1.1vw + 0.8vh); /* Tamanho de fonte responsivo */
    font-weight: 300;
    line-height: normal;
}

/* Estilos para os campos de entrada */
#username {
    position: absolute;
    margin-top: 20%;
    margin-left: 52%;
    transform: translate(-50%, -50%);
    width: 25vw; /* 25% da largura da viewport */
    height: 1vh; /* 5% da altura da viewport */
    color: #000;
    font-size: calc(1vw + 1vh); /* Tamanho de fonte responsivo */
    font-weight: 700;
    line-height: normal;
}


#password {
    position: absolute;
    margin-top: 24%;
    margin-left: 52%;
    transform: translate(-50%, -50%);
    width: 25vw; /* 25% da largura da viewport */
    height: 1vh; /* 5% da altura da viewport */
    color: #000;
    font-size: calc(1vw + 1vh); /* Tamanho de fonte responsivo */
    font-weight: 700;
    line-height: normal;
}

/* Estilos para os fundos */
#background-1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #0672CB;
}

#background-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background: #ffffff;
    border-radius: 0px;
    box-shadow: -8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}